{% extends "main/layout.html" %}
{% block title %} Account Update {% endblock %}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design_generals.css') }}">
{% endblock %}

{% block main_content %}
    {% if current_user.is_authenticated %}

     <ul class="component-overview">


                <li class="component-item">
                    <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1"><div class="cds--aspect-ratio--object">
                        <a class="component-item__link" href="{{ url_for('products.new_product', home_item=home_item.id) }}">
                            <p class="component-name">New Product<br>
                                <br>Add to your home any detail or product you like, we will work together with you for your house to look just perfect</p>
                        </a>
                        <div class="cds--resource-card__icon--action">
                            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                                <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                                <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                            </svg>
                        </div>
                    </div>
                    </div>
                </li>


                <li class="component-item">
                    <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1"><div class="cds--aspect-ratio--object">
                        <a class="component-item__link" href="#">
                           <p class="component-name"> Home Catalogs <br>
                               <br>Browse our catalog and imagine and check what could be your new home
                           </p>
                        </a>

                          <div class="cds--resource-card__icon--action">
                            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                                <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                                <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                            </svg>
                        </div>
                    </div>
                    </div>

                </li>

                <li class="component-item">
                    <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--3x3"><div class="cds--aspect-ratio--object">
                        <a class="component-item__link" href="#">
                            <p class="component-name"> Reach Us<br>
                                <br>in case you need any help reach us or contact us</p>
                        </a>
                    </div>
                    </div>
                </li>

            </ul>


      <div class="row">
        <h2>It is often the small, intricate features that distinguish a truly luxurious and comfortable
           experience from an ordinary one. Add to your house any detail you want before
           completing your project request.</h2>
          <br>
      </div>


        <div class="row">

            {% if home.status == "Draft Request" %}
                <a class="cds--btn cds--btn--primary" href="{{ url_for('homes.complete_home_request', id=home_item.id) }}">Complete your request</a>
                <small>If you are ready to complete your request. Go ahead we will review your request and do
                            the best to see if we are the perfect match to build together your dream home. </small>
                <hr>
            {% endif %}

        </div>

        <div class="row">
           <div class="cds--row resource-card-group">

                <div class="Grid-module--column--FvUep cds--no-gutter-sm cds--col-md-4 cds--col-lg-4">
                    <div class="cds--resource-card">
                        <div class="cds--aspect-ratio cds--aspect-ratio--2x1">
                            <div class="cds--aspect-ratio--object">
                                <a href="{{ url_for('homes.update_home', id=home.id) }}" class="cds--tile cds--tile--clickable">
                                    <h5 class="cds--resource-card__subtitle"><strong>{{ home_item.name }} Home project</strong></h5>
                                    <h2>The Target date for this home is: <br> {{ home_item.target_date }}
                                        <br>
                                        <br>
                                        It is budgeted for USD {{ home_item.desired_budget }}
                                    </h2>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <small>Choose this option to edit, or check product details chosen for the home project below</small>

                                    <br>
                                    <br>

                                    <div class="cds--resource-card__icon--action">
                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                                        <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                                        <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                                    </svg>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        <div class="cds--data-table-container">
              <div class="cds--data-table-header">
                <h5 class="cds--data-table-header__title" id="tc-112-title">Review your Project details</h5>
                  <br>

                <p class="cds--data-table-header__description" id="tc-112-description"></p>
              </div>

             <div role="search" aria-label="Search" class="cds--search cds--search--md">
                  <div aria-labelledby="search-1" class="cds--search-magnifier">
                      <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" class="cds--search-magnifier-icon">
                          <path d="M15,14.3L10.7,10c1.9-2.3,1.6-5.8-0.7-7.7S4.2,0.7,2.3,3S0.7,8.8,3,10.7c2,1.7,5,1.7,7,0l4.3,4.3L15,14.3z M2,6.5 C2,4,4,2,6.5,2S11,4,11,6.5S9,11,6.5,11S2,9,2,6.5z"></path>
                      </svg>
                  </div>

                  <input class="cds--search-input" type="text" id="searchInput" placeholder="Search...">

                  <button aria-label="Clear search input" class="cds--search-close cds--search-close--hidden" title="Clear search input" type="button"><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 32 32" aria-hidden="true"><path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path></svg></button></div>
             </div>

           <table aria-labelledby="tc-112-title" class="cds--data-table cds--data-table--lg" id="dataTable">
              <thead>
                <tr>
                  <th scope="col"><div class="cds--table-header-label">Product Family</div></th>
                  <th scope="col"><div class="cds--table-header-label">Detail</div></th>
                  <th scope="col"><div class="cds--table-header-label">Cost</div></th>
                  <th scope="col"><div class="cds--table-header-label">Action</div></th>

                </tr>
              </thead>
                 <tbody aria-live="polite">
                    {% if products %}
                        {% for i in products %}
                        <td scope="col"> {{ i.name }}</td>
                        <td scope="col"> {{ i.description }}</td>
                        <td scope="col"> {{ i.price }}</td>
                        <td scope="col"> <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('products.update_product_item', id=i.id) }}">Edit Product</a> </td>
                        {% endfor %}
                    {% endif %}
                 </tbody>
                </table>
            </div>

          </div>
</div>

<script>
  // Search functionality
  const searchInput = document.getElementById('searchInput');
  const dataTable = document.getElementById('dataTable');

  searchInput.addEventListener('keyup', () => {
    const filter = searchInput.value.toLowerCase();
    const rows = dataTable.getElementsByTagName('tr');

    for (let i = 0; i < rows.length; i++) {
      const cells = rows[i].getElementsByTagName('td');
      let shouldHide = true;

      for (let j = 0; j < cells.length; j++) {
        const cell = cells[j];

        if (cell.textContent.toLowerCase().indexOf(filter) > -1) {
          shouldHide = false;
          break;
        }
      }

      rows[i].style.display = shouldHide ? 'none' : '';
    }
  });

</script>

         <div class="row">
             <h5>Also if you are not sure and want to start from scratch delete your home project</h5>
             <br>

             <div role="presentation">
                    <button class="cds--btn cds--btn--sm cds--btn--danger" type="button" id="launchModalBtn">Delete Home Project</button>

                    <div class="cds--modal cds--modal-tall" role="presentation" id="modal">
                        <div role="dialog" class="cds--modal-container" aria-label="Label" aria-modal="true" tabindex="-1">
                            <div class="cds--modal-header"><h2 id="cds--modal-header__label--modal-12" class="cds--modal-header__label">Huarpe's Construction and Design</h2>
                                <h3 id="cds--modal-header__heading--modal-12" class="cds--modal-header__heading">{{ home_item.name }} Home Project</h3>
                                <button class="cds--modal-close" type="button" aria-label="close">
                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" class="cds--modal-close__icon">
                                        <path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path>
                                    </svg>
                                </button>
                            </div>
                            <div id="cds--modal-body--modal-12" class="cds--modal-content" aria-labelledby="cds--modal-header__label--modal-12">
                                <p> Please make sure you want to delete your home project once is deleted it
                                    you will have to re start or contact your devices CDPP focal for any
                                    help or support
                                </p>
                            </div>

                            <div class="cds--modal-footer cds--btn-set">
                                <button class="cds--btn cds--btn--secondary" type="button">Cancel</button>
                                <form action="{{ url_for('homes.cancel_home_project', id = home_item.id) }}" method="POST">
                                    <input class="cds--btn cds--btn--danger" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div><span tabindex="0" role="link" class="cds--visually-hidden">Focus sentinel</span>
             <script>
                          const launchModalBtn = document.getElementById('launchModalBtn');
                          const modal = document.getElementById('modal');

                          launchModalBtn.addEventListener('click', function() {
                            modal.classList.add('is-visible');
                          });

                          modal.addEventListener('click', function(event) {
                            if (event.target === modal) {
                              modal.classList.remove('is-visible');
                            }
                          });

                          const closeButton = modal.querySelector('.cds--modal-close');
                          closeButton.addEventListener('click', function() {
                            modal.classList.remove('is-visible');
                          });
                        </script>
            </div>



        </div>
    {% endif %}
{% endblock main_content %}

