{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design_generals.css') }}">

{% endblock %}

{% block main_content %}

     <div class="row">
        <small style="font-size: small">Live in luxury without breaking the bank: rich country-style living</small>
     </div>

      <div class="row">
       <h2>Based in Florida our Family business has been obsessed about carpentry and construction for more than
            two generations</h2>
          <p style="font-size: small; alignment: right">
                join our obsession on home building dear to create your first project or review your current project and
                design.
             </p>
          <br>
      </div>

    <br>

<!-- Chat bot Here -->
    <div class="chat-container">
    <h3>Chat with Us</h3>
        <div class="chat-input-container">
            <input type="text" id="user-input" placeholder="Type your message here..." autocomplete="off">
            <button onclick="sendMessage()">Send</button>
        </div>
    <div id="chat-options">
        <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--purple" id="create-option" onclick="handleOptionClick('create')">
            <span title="Create" class="cds--tag__label cds--tag--purple" dir="auto">Create</span>
        </div>

        <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--blue" id="build-option" onclick="handleOptionClick('build')">
            <span title="Build" class="cds--tag__label cds--tag--blue" dir="auto">Build</span>
        </div>

    </div>
    <div id="chat-box">
        <!-- Messages dynamically appended here -->
    </div>
</div>

<!-- Chat bot END -->


    <hr>


    {% if current_user.is_authenticated %}

<ul class="component-overview">

    <li class="component-item">
        <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
            <div class="cds--aspect-ratio--object">
                <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--purple" id="tag-121">
                    <span title="Tested" class="cds--tag__label cds--tag--purple" dir="auto">Create</span>
                </div>
                <a class="component-item__link" href="{{ url_for('homes.new_home') }}">
                    <p class="component-name">New<br>
                        <br>Create, your new home project start from scratch or choose one of our custom designs</p>
                </a>
                <div class="cds--resource-card__icon--action">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                        <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                        <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </li>

    <li class="component-item">
        <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
            <div class="cds--aspect-ratio--object">
                <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--blue" id="tag-121">
                    <span title="Tested" class="cds--tag__label cds--tag--blue" dir="auto">Build</span>
                </div>
                <a class="component-item__link" href="#">
                    <p class="component-name">Estimates<br>
                        <br>Create your detail estimate, export and share.</p>

                </a>
                <div class="cds--resource-card__icon--action">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                        <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                        <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </li>



    <li class="component-item">
        <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
            <div class="cds--aspect-ratio--object">

                <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--green" id="tag-121">
                    <span title="Tested" class="cds--tag__label cds--tag--green" dir="auto">help</span>
                </div>

                    <p class="component-name">Contact<br>
                        <br>Reach us @ <br>
                                wuarpsdesigns@gmail.com<br>
                                <br>in case you need any <br>
                                help reach us or contact <br></p>
            </div>
        </div>
    </li>
    <!-- Repeat for other list items -->
</ul>


    {% else %}

<ul class="component-overview">

         <li class="component-item">
            <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
                <div class="cds--aspect-ratio--object">
                    <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--green" id="tag-121">
                        <span title="Tested" class="cds--tag__label cds--tag--green" dir="auto">Register</span>
                    </div>
                    <a class="component-item__link" href="{{ url_for('users.registration') }}">
                        <p class="component-name">Register<br>
                            <br>First Time visitor register with us and explore all the possibilities to create your brand new home</p>
                    </a>
                    <div class="cds--resource-card__icon--action">
                        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                            <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                            <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </li>

    <li class="component-item">
        <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
            <div class="cds--aspect-ratio--object">
                <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--blue" id="tag-121">
                    <span title="Tested" class="cds--tag__label cds--tag--blue" dir="auto">Log</span>
                </div>
                <a class="component-item__link" href="{{ url_for('users.login') }}">
                    <p class="component-name">Log In<br>
                        <br>Create your detail estimate, export and share.</p>

                </a>
                <div class="cds--resource-card__icon--action">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32" role="img">
                        <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                        <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </li>



    <li class="component-item">
        <div class="cds--aspect-ratio cds--aspect-ratio--align cds--aspect-ratio--1x1">
            <div class="cds--aspect-ratio--object">

                <div class="cds--tag a11y-status-tag-module--tag--e43ee cds--tag--purple" id="tag-121">
                    <span title="Tested" class="cds--tag__label cds--tag--purple" dir="auto">help</span>
                </div>

                    <p class="component-name">Contact<br>
                        <br>Reach us @ <br>
                                wuarpsdesigns@gmail.com<br>
                                <br>in case you need any <br>
                                help reach us or contact <br></p>
            </div>
        </div>
    </li>
</ul>



    {% endif %}



{% endblock main_content %}

